{% autoescape false %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<style>
		{% block medieQueryCSS %}
		@media only screen and (max-width: {{ mediaQueryWidth }}px) {
            table.emailWidth, img.emailWidth{
                width: {{ mobileEmailWidth }}px !important;
            }
            td.contentWidth {
                width: {{ mobileContentWidth }}px !important;
            }
		}
		{% endblock %}
		</style>
	</head>
	<body style=" color: {{ blackColor }}; margin:0; font: normal 12px/18px {{ fontFamily }}; background-color: {{ bodyBackgroundColor }};">
		<table class="emailWidth" summary="header and logo" width="{{ emailWidth }}" border="0" align="center" cellpadding="0" cellspacing="0" style="font: normal 12px/18px {{ fontFamily }};">
			{% block linkToWebView %}
			{% if( azineEmailWebViewToken is defined) %}
			<tr>
				<td>&nbsp;</td>
				<td style="text-align: center;">
					<span {{ smallGreyStyle }}>
						{{ 'html.email.head.link.to.web.view.text.%url%' | trans({'%url%' : url('azine_email_webview', {'token' : azineEmailWebViewToken, '_locale' : emailLocale })}) | raw }}
					</span>
				</td>
				<td>&nbsp;</td>
				</tr>
			{% endif %}
			{% endblock %}{# end block  linkToWebView #}
			<tr>
				<td>&nbsp;</td>
				<td bgcolor="{{ contentBackgroundColor }}">&nbsp;</td>
				<td>&nbsp;</td>
				</tr>
			<tr>
				<td width="{{ shadowWidth }}">&nbsp;</td>
				<td class="contentWidth" width="{{ contentWidth }}" bgcolor="{{ contentBackgroundColor }}" style="padding: 0px 20px;">
					{% block logo %}
			    	<a href="http://example.com" target="_blank" style="color: green; font-size: 72px; font-weight: bold; text-decoration: none;">
			    		<img src="{{ logo_png }}" alt="azine" height="35" width="169" />
			    	</a>
			    	{% endblock %}{# end block logo #}
			    </td>
				<td width="{{ shadowWidth }}">&nbsp;</td>
			</tr>
	  	</table>
	  	{{ topShadow }}
	 	{{ leftShadow}}
		    	<td class="contentWidth" width="{{ contentWidth }}" bgcolor="white"  style="padding:10px 20px 20px 20px; border-top: 1px solid #EEEEEE;">
	    		<a name="top" ></a>
	  			{% block content %}
	  				{% block contentHead %}
					<span {{ salutationStyle }}>Hello,</span>
					<p>
						Add some html content here
					</p>
					<p>
						This is just the default content-block.
					</p>
					<p>
						Best regards,
						<br/>
						<span style="color:#024d84;">the azine team</span>
					</p>
					{% endblock %}{# end block contentHead #}
					{% if contentItems is defined %}
{#
the contentItems-array has the following structure

array(0 => array(templateX => varsForX), 1 => array(templateY => varsForY), 2 => array(templateZ => varsForZ));

the first loop get's all the arrays, the second loop get's the template from the key and the vars from the value of the inner array.
#}
						{% for contentItemArrays in contentItems  %}
							{% for contentItemTemplate, contentItemParams in contentItemArrays %}
								{{ cellSeparator }}{# You can split your content into sections with the cellSepartor-variable. #}
								{% filter addCampaignParamsForTemplate(contentItemTemplate, contentItemParams) %}
									{% include contentItemTemplate ~ '.html.twig' with contentItemParams %}
								{% endfilter %}
			  				{% endfor %}
			  			{% endfor %}{# end for contentItems #}
			  		{% endif %}
				{% endblock %}{# end block content #}
			    </td>
		{{ rightShadow }}
		{{ leftShadow}}
	        	<td class="contentWidth" width="{{ contentWidth }}" bgcolor="white" style="text-align:center;">
	        		{% block footerLogo %}
	        		<a href="http://example.com" target="_blank" style="color: {{ azGreen }}; font: 36px bold; text-decoration: none; position:relative; top:1px;">
			    		<img height="24" width="116" src="{{ logo_png }}" alt="azine" />
			    	</a>
			    	{% endblock %}{# end block footerLogo #}
	            </td>
    	{{ rightShadow}}
		{{ leftShadow}}
            	<td class="contentWidth" width="{{ contentWidth }}" align="center" valign="top" bgcolor="{{ footerBackgroundColor }}" style="font: normal 12px/18px {{ fontFamily }}; padding:10px 30px 30px 30px; border-top:3px solid #b1c800; text-align:center;" >
                	{% block footerInfoText %}
            		<p style="color:white;">
	            		The Symfony-Bundle this email was created with is brought to you by Azine IT Services AG.
            		</p>
            		<p style="color:white;">
            			Add "<a href="mailto:{{ sendMailAccountName }}&lt;{{ sendMailAccountAddress }}&gt;">{{ sendMailAccountAddress }}</a>" to your address book to ensure delivery of azine emails.
            		</p>
                	{% endblock %}{# end block footerInfoText #}
            		{% block footerCopyrightText %}
            		<p style="color:white;">
            			&copy; 2013
					</p>
					{% endblock %}{# end block footerCopyrightText #}
                    <p style="color:#acacac;">
                    {% block footerLinks %}
	               	    <a style="color:#acacac; text-decoration:none;" href="http://example.com#help">Help</a> |
	                    <a style="color:#acacac; text-decoration:none;" href="http://example.com#tos">Terms of use</a> |
	                    <a style="color:#acacac; text-decoration:none;" href="http://example.com#about">About</a> |
	                    <a style="color:#acacac; text-decoration:none;" href="http://example.com#contact">Contact</a>
					{% endblock %}{# end block footerLinks #}
                    </p>
				</td>
		{{ rightShadow}}
		</table>
	</body>
</html>
{% endspaceless %}
{% endautoescape %}
