{% extends 'AzineEmailBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" >

    <style type="text/css">

        .overflowScrollY{
            width: 100%;
            max-height: 50%;
            overflow-y: scroll;
        }

    </style>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">
        $(".actionButton").click(function(e) {

            e.preventDefault();
            var modal = $('#modal');
            modal.empty();

            modal.addClass('text-center')
            modal.text('Loading...');
            $.get($(this).attr('href'))
                .done(function(resp){
                    modal.removeClass('text-center');
                    modal.empty();
                    modal.html(resp);
                });
        });

    </script>
{% endblock javascripts %}
{% block body %}
    <div class='overflowScrollY'>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ '_az.admin.email.recipients.label'|trans }}</th>
                <th>{{ '_az.admin.email.template.label'|trans }}</th>
                <th>{{ '_az.admin.email.sent.label'|trans }}</th>
                <th>{{ '_az.admin.email.variables.label'|trans }}</th>
                <th>{{ '_az.admin.email.token.label'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            {{ form_start(form) }}
            <tr>
                <td>{{ form_row(form.recipients) }}</td>
                <td>{{ form_row(form.template) }}</td>
                <td>{{ form_row(form.sent) }}</td>
                <td>{{ form_row(form.variables) }}</td>
                <td>{{ form_row(form.token) }}</td>
                <td>{{ form_row(form.save) }}</td>
            </tr>

            {{ form_end(form) }}
            </tbody>
            {% for email in emails %}
                <tr class="sentEmail">
                    <td>{{ email.recipients }}</td>
                    <td>{{ email.template }}</td>
                    <td>{{ email.sent }}</td>
                    <td>{{ email.variables }}</td>
                    <td>{{ email.token }}</td>
                    <td>
                        <a class = "actionButton" href="{{ path('azine_email_webview', {'token': email.token}) }}">Show</a>
                        <a class = "actionButton" href="{{ path('admin_email_details_by_token', {'token': email.token}) }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ gridPagination(paginator) }}

    <hr/>
    <div id="modal" class="overflowScrollY">
        <div class ="loading"></div>
    </div>
{% endblock %}


