{% extends 'AzineEmailBundle::base.html.twig' %}
{% block title %}{{ 'web.view.index.page.title' | trans({}) }}{% endblock title %}
{% block body -%}

{% for template in templates %}
	<p>
		{% for format in template.formats %}
			<a href="{{ template.url }}/{{ format }}" target="{{ template.templateId }}">{{ template.description }} / {{ format }}</a>
			<br/>
		{% endfor %}

		{{ 'web.view.index.send.html.email.to' | trans({}) }} :
		{% for next in emails %}
			<a class="button" href="{{ path('azine_email_send_test_email',{'email': next.accountEmail, 'template' : template.templateId}) }}">{{ next.accountDescription }}</a>
		{% endfor %}

		<span class="custom">
			<a style="display: inline-block;" id="customEmail" class="button"
				href="#"
				origHref="{{ path('azine_email_send_test_email',{'template' : template.templateId}) }}">{{ 'web.view.index.use.custom.email' | trans({}) }} :</a>
			<input style="width: 200px; display: inline-block;" id="customEmailField" type="text" value="{{ customEmail }}">
		</span>

		<br>
	</p>
{% endfor %}

<hr/>
<form action="{{ path('azine_email_test_sent_email_spam_score') }}" method="POST" class="azine_email_check_spam_score">
	<textarea rows="10" cols="80" placeholder="{{ 'web.view.index.paste.email.source.here' | trans({}) }}" name="emailSource" id="emailSource"></textarea>
	<input type="submit" value="{{ 'web.view.index.check.spam.score' | trans({}) }}" class="button">
</form>
<div id="spamScoreDialog" title="{{ "web.view.index.spam.score.result" | trans({}) }}"></div>
{% endblock body %}

{% block javascripts -%}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function() {
		$('.custom a').each(function(){
			$(this).mousedown(function(){
				var href = $(this).attr("origHref");
				var email = $(this).parent().find('input').val();
				$(this).attr("href", href + "/" + email);
			});
		});
		$('.custom input').each(function(){
			$(this).blur(function(){
				var email = $(this).val();
				$(".custom input").each(function(){
					$(this).attr("value", email);
					$(this).val(email);
				});
			});
		});
		$("form").submit(function(){
			$('body').append('<div id="grayLayer" class="ui-widget-overlay ui-front">&nbsp;</div>');
			$('#grayLayer').css("cursor", "wait");
			$.post('{{ path("azine_email_test_sent_email_spam_score") | raw }}', { 'emailSource' : $('#emailSource').val() },
			        function(response){
					    $('#grayLayer').css("cursor", "auto");
					    $('#grayLayer').remove();
						var report = response['result'];
						report = report.replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+'<br />'+'$2');
		        		$("#spamScoreDialog").html(report);
						$("#spamScoreDialog").dialog({
														resizable: true,
														width: 800,
														modal: true,
														buttons: {
															"OK": function() {
																$( this ).dialog( "close" );
																$("#spamScoreDialog").html("");
															},
														}
													});
	                },
	                "json")
	                .error(function() {
			    		$('html, body, div, p, a, textarea').css("cursor", "auto");
	                });
            return false;
		});
   	 });
</script>
{% endblock javascripts %}
